@using Microsoft.AspNetCore.Blazor.Components
@using PuzzleShop.Shared.Models

@inherits PuzzleShop.Client.Shared.Logic.NavigationMenuLogic

@inject HttpClient http

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="img/puzzle-shop-brand.png" alt=""></a>
        </div>
        <div class="navbar-right navbar-utils">
            <ul class="list-unstyled clearfix">
                <li class="hidden-xs">
                    @if (LoginUser == null) {
                        <a href="/login" class="btn"><span>Log In</span> <i class="fa fa-lock"></i></a>
                    } else {
                        <text>Welcome, @LoginUser.Username!</text>
                        <a href="/myOrder">My Orders</a> <text>|</text>
                        <a href="/myProfile">My Profile</a>
                        <a href="/logout" class="btn"><span>Log Out</span> <i class="fa fa-unlock-alt"></i></a>

                    }
                </li>
                <li id="navbar-totals" class="totals">
                    <span class="hidden-xs">@GetTotalItemQuantityInCart() Items</span>
                    <span class="visible-lg">$@GetPriceOfCart().ToString("N")</span>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="btn btn-primary cart-btn" onclick="@GetCart">
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                    <div id="mini-cart" class="dropdown-menu">

                        @if (Cart == null || Cart.Count == 0) {
                            <h6>No items in cart.</h6>
                        } else {
                            <ul class="cart-items list-unstyled hidden-xs">
                                @foreach (var item in Cart) {
                                    <li class="row cart-item">
                                        <div class="product-thumb col-xs-4">
                                            <img class="img-responsive" alt="@item.Key.ToyName" src="../@item.Key.PhotoURL">
                                        </div>
                                        <div class="product-info col-xs-8">
                                            <h6 class="product-title">@item.Key.ToyName</h6>
                                            <div class="price">
                                                @item.Value x <span>$@item.Key.Price.ToString("N")</span>
                                            </div>
                                            <a class="remove-item" href="#"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>
                                }
                            </ul>

                            <div class="mini-cart-totals">
                                <h4 class="subtotal">Subtotal: $@GetPriceOfCart().ToString("N")</h4>
                                <a class="btn btn-default btn-lg" href="#" onclick="@(() => ViewCart())">View Cart</a>
                                <a class="col-xs-12 btn btn-danger solid btn-lg" href="/checkout-01">Checkout</a>
                            </div>
                        }
                    </div>

                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse">
            <div class="navbar-left">
                <ul id="main-nav" class="nav navbar-nav">
                    <li class="dropdown ">
                        <a class="dropdown-toggle" data-toggle="dropdown" id="shop-dropdown" href="#">
                            Shop <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="shop-dropdown">
                            <li role="presentation">
                                <a href="/shop" role="menuitem" tabindex="-1">
                                    All Products
                                </a>
                            </li>
                            @if (CategoryList != null) {
                                foreach (var category in CategoryList) {
                                    <li role="presentation">
                                        <a href="/shop/@category" role="menuitem" tabindex="-1">
                                            @category
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class=""><a href="/about">About</a></li>
                    <li class=""><a href="/contact">Contact</a></li>
                </ul>
                <ul class="visible-xs nav navbar-nav">
                    <li class=""><a href="//boxie.lemonstand.com/orders">My Orders</a></li>
                    <li class=""><a href="//boxie.lemonstand.com/profile">My Profile</a></li>
                    <li class="col-xs-12">
                        <a href="//boxie.lemonstand.com/login" class="btn btn-block btn-default">Login <i class="fa fa-lock"></i></a>
                    </li>
                </ul>
            </div>
            <form id="search-form" class="navbar-form" role="form" method="get" onsubmit="@Search()">
                <div class="input-group">
                    <input type="text" class="search-form form-control" name="searchValue" id="searchValue" placeholder="Type your search term and press Enter" autocomplete="off" value="" bind="@SearchValue" />
                    <span class="input-group-btn" onclick="toggleSearchForm(this.parentElement.parentElement, this.children[0].children[0])">
                        <button class="btn search-btn toggle hidden-xs hidden-sm" type="button"><i class="fa fa-search"></i></button>
                        <button class="btn search-btn hidden-md hidden-lg" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <!-- /input-group -->
            </form>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>