@using PuzzleShop.Client.Pages.Search.Logic

@page "/search/{SearchValue}"

@inherits SearchLogic

<div id="search-result" class="@IsDisplay">
    <div id="banner" class="jumbotron row">
        <h1>Search Results</h1>
        <p class="found">@ToyList.Count Products Found</p>
    </div>
    <section id="shop" class="page-section row">
        <div class="col-xs-12 col-sm-3">
            <div class="sidebar">
                <ToyCategory />
            </div>
        </div>
        <div class="col-xs-12 col-sm-9">
            <div class="product-grid">
                <div id="" class="row">
                    @foreach (var toy in ToyList) {
                        <div class="col-xs-12 col-sm-6 col-md-4 product-holder">
                            @*<form class="custom" onsubmit="return false">*@
                            <div class="product-item text-center">
                                <a class="product-img" href="#" onclick="@(() => ViewToyDetail(toy._id))">
                                    <img class="img-responsive" src="../@toy.PhotoURL" alt="@toy.Name" />
                                </a>
                                <h3 class="product-title">
                                    <a href="#" onclick="@(() => ViewToyDetail(toy._id))">@toy.Name</a>
                                </h3>
                                <div class="h4 product-price">
                                    <span>$@toy.Price</span>
                                </div>
                                <div class="buttons-holder">
                                    <a class="btn btn-default btn-quick-view hidden-xs" rel="tooltip" title="Quick View" href="#" onclick=@(() => ViewToyDetail(toy._id))><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                            @*</form>*@
                        </div>
                    }

                </div>
            </div>
            <div class="pagination-holder">
            </div>
        </div>
    </section>
</div>

<div id="toy-detail" class="@(IsDisplay.Equals("show") ? "hide" : "show")">
    <ToyDetail ToyList="@ToyList" ToyId="@SelectedToyId" />
    <div style="margin-bottom: 10px">
        <a class="btn btn-default btn-continue-shopping" href="#" onclick="@BackToSearchResult">
            <i class="fa fa-arrow-left"></i> Back to search result
        </a>
    </div>
</div>

<!-- dimming the page while prcessing -->

<DimScreen Processing="@Processing" />